/* iPhone 11 Pro Max - 1 */
#n1_2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(37, 36, 64);
}

/* ¿Que quieres hacer hoy? */
#n1_5 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  width: 301px;
  transform: translate(0px, 0px);
  line-height: 58.5938px;
  height: 154px;
  left: 57px;
  top: 142px;
}

/* Line 1 */
#n1_6 {
  width: 150px;
  top: 425px;
  height: 0px;
}

/* Line 2 */
#n1_7 {
  left: 268px;
  width: 146px;
  top: 425px;
  height: 4.26326e-14px;
}

/* Component 3 */
#n10_3 {
  width: 181px;
  height: 181px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 4px 4px 0px;
  left: 121px;
  top: 330px;
}

/* image 2 */
#nI10_3-4_8 {
  background-image: url("https://s3-alpha-sig.figma.com/img/bde5/3088/a5633694ea26b78db5a7a405ed241dba?Expires=1599436800&Signature=ZZP~FD-SaX6QTlq2bQuIa3AMfzcB2AR~j1afY4SYv1QBtatGJSYVG1R2-CAzveXEYTSqTmOBOYQIDcZ4ivrH7MsHdP2CkLi9wamXUNTY~hsbWcgRV3CoAWmHLJ0a56-VFM7OQqB6hrO-w7VodLuA8D8Ou0pYcUcDv0XhSGa-DCrzQ8P0RPX89QBzlDZsZdho09bDYe5MoWVP4ENGGQcWEV6prF0ao557l5lHg0WvP-T868Dzo1LP3forEa50sAy3l0cZ9YVt4~WFvSefrDx5ZbZhqiWqwSxSoNi4trz8UNB8VY0-T4n~FxCZQ6Sxe7zSOauLKpP9Heg0z57A82tvKw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 7.73481%;
  right: 10.4972%;
  top: 5.52%;
  bottom: 6.08%;
}

/* Component 8 */
#n9_47 {
  width: 40px;
  height: 31px;
  left: 20px;
  top: 20px;
}

/* Line 3 */
#nI9_47-9_30 {
  bottom: 100%;
}

/* Line 5 */
#nI9_47-9_33 {
  top: 100%;
}

/* Line 4 */
#nI9_47-9_34 {
  top: 46.77%;
  bottom: 53.23%;
}
