/* Mapa */

#n38_25 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(234, 236, 255);
}

/* Component 14 */
#n38_30 {
  width: 40px;
  height: 31px;
  left: 20px;
  top: 20px;
}

/* Line 3 */
#nI38_30-9_30 {
  bottom: 100%;
}

/* Line 5 */
#nI38_30-9_33 {
  top: 100%;
}

/* Line 4 */
#nI38_30-9_34 {
  top: 46.77%;
  bottom: 53.23%;
}

/* Mapa */
#n38_43 {
  width: 300px;
  height: 300px;
  left: 57px;
  top: 242px;
}

/* Rectangle */
#nI38_43-10_61 {
  background-image: url("https://s3-alpha-sig.figma.com/img/0623/9839/3b33ea3703a529b2f358e9df9e7acfa6?Expires=1599436800&Signature=e0eBc3CiuM5mXh257tMz8iyLTjY96due7R3iDVn2EIO6GPmm5jDjz9o5AgUTw3pNygBvDn2qpTQbhWj0OIVX0PAKO0RHhi1XdQtvAId7GlZQdRlA3bVNDEsKkMzACYZ37ouNE1clxLR0lkgrrkdX4Dhe682UGhf5R3sUXs0z75antlmY71d2N~n4Y5AnBltT~PRsrqKkPa0T2ebD9CH3jgUaZyNKoWUk9wrpMRofApM3ovyujsIfH1hmFH5js1uic2XJLvti5dp4FKyJ7wM~oZJWxHNTLdOrQvZiBCP7nSt3eyyPn5ZisIvUwhI1xSd-aNAKLXdLGXZFRHpqLwbGUA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Ubicación */
#n38_45 {
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  justify-content: flex-end;
  width: 223px;
  transform: translate(0px, 0px);
  line-height: 58.5938px;
  height: 59px;
  left: 92px;
  top: 110px;
}

/* image 12 */
#n47_50 {
  background-image: url("https://s3-alpha-sig.figma.com/img/0aa3/e1c2/73f59271d99e7df858d14e78ef856953?Expires=1599436800&Signature=ENgVEV9ELp~bCW3JjPzwg8Hr1K-cCP2y40oHZinEeT5ZZKXwLq6csqt0ExVzX1wFYQPnTo5H~a44GhQDnFb9LzQQKkQzvJeHcqvJanzX2zZPDE5k~~A0L6ATUV2wOinaplY2u~TlSpEQ-FB4RhF~F5JPc2ROfUGcdrndFYf2wQk0kk9Xct1jwZsgc4gYYq8gulBGo6FYQl5QxCITjOa-~xbD7GvVinDnRRiHUmdRd85PIty2-FmpzYCq2DRldXMxCRidzWllJCfPXoTwLLFJGXKsuzoIAn~GgHo0nImDFi3ZZRDLEfkFGOOE8ZtlaTw0MdPWf~-v3DvY1kCXPDYCBg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 182px;
  width: 50px;
  top: 349px;
  height: 50px;
}

/* boton micro */
#n48_60 {
  width: 155px;
  height: 145px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
  left: 129px;
  top: 647px;
}

/* image 2 */
#nI48_60-4_8 {
  background-image: url("https://s3-alpha-sig.figma.com/img/bde5/3088/a5633694ea26b78db5a7a405ed241dba?Expires=1599436800&Signature=ZZP~FD-SaX6QTlq2bQuIa3AMfzcB2AR~j1afY4SYv1QBtatGJSYVG1R2-CAzveXEYTSqTmOBOYQIDcZ4ivrH7MsHdP2CkLi9wamXUNTY~hsbWcgRV3CoAWmHLJ0a56-VFM7OQqB6hrO-w7VodLuA8D8Ou0pYcUcDv0XhSGa-DCrzQ8P0RPX89QBzlDZsZdho09bDYe5MoWVP4ENGGQcWEV6prF0ao557l5lHg0WvP-T868Dzo1LP3forEa50sAy3l0cZ9YVt4~WFvSefrDx5ZbZhqiWqwSxSoNi4trz8UNB8VY0-T4n~FxCZQ6Sxe7zSOauLKpP9Heg0z57A82tvKw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  left: 7.73485%;
  right: 10.4972%;
  top: 5.52%;
  bottom: 6.08%;
}
