/* Component 9 */

#n9_45 {
  width: 327px;
  height: 688px;
}

/* Rectangle 8 */
#n9_39 {
  background: rgb(54, 98, 255);
}

/* Menú */
#n9_40 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  justify-content: flex-end;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  left: 34.5566%;
  right: 34.5566%;
  top: 6.98%;
  bottom: 86.19%;
}

/* Component 10 */
#n9_51 {
  left: 9.48012%;
  right: 9.48012%;
  top: 20.93%;
  bottom: 68.31%;
}

/* Rectangle 9 */
#nI9_51-9_42 {
  background: rgb(110, 166, 251);
}

/* Explora */
#nI9_51-9_41 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  justify-content: flex-end;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  left: 10.566%;
  right: 39.2453%;
  top: 18.92%;
  bottom: 17.57%;
}

/* Component 12 */
#n9_66 {
  left: 9.48012%;
  right: 9.48012%;
  top: 37.06%;
  bottom: 52.18%;
}

/* Rectangle 10 */
#nI9_66-9_58 {
  background: rgb(110, 166, 251);
}

/* Conversa */
#nI9_66-9_64 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  justify-content: flex-end;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  left: 10.566%;
  right: 26.0377%;
  top: 18.92%;
  bottom: 17.57%;
}

/* Component 20 */
#n27_10 {
  left: 9.48012%;
  right: 9.48012%;
  top: 53.2%;
  bottom: 36.05%;
}

/* Rectangle 11 */
#nI27_10-27_0 {
  background: rgb(110, 166, 251);
}

/* Rectangle 12 */
#nI27_10-27_9 {
  background: rgb(110, 166, 251);
}

/* Chatea */
#nI27_10-27_6 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  justify-content: flex-end;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  left: 12.4528%;
  right: 40%;
  top: 18.92%;
  bottom: 17.57%;
}

/* Component 23 */
#n48_56 {
  left: 9.48012%;
  right: 9.48012%;
  top: 69.33%;
  bottom: 19.91%;
}

/* Rectangle 11 */
#nI48_56-48_48 {
  background: rgb(110, 166, 251);
}

/* Localízate */
#nI48_56-48_54 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  vertical-align: middle;
  justify-content: flex-end;
  transform: translate(0px, 0px);
  line-height: 46.875px;
  left: 13.5849%;
  right: 17.3585%;
  top: 18.92%;
  bottom: 17.57%;
}
